.loadingSpinner {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid rgba(0, 0, 0, 0.2);
  border-left: 0.5rem solid #000000;
  border-radius: 50%;
  animation: spin 0.8s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
