main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow: 100;
  height: 100%;
}

main > h2 {
  margin-top: 0;
}

main a {
  color: #0079D3;
  padding-bottom: 0.25rem;
  text-decoration: none;
}

main a:hover,
main a:focus {
  color: #0079D3;
  text-decoration: none;
  outline: 0;
  padding-bottom: 0.125rem;
  border-bottom: 0.125rem solid #0079D3;
}
